$second-color:green;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1230px;
    margin: 0 auto;
}


.header {
    background-color: #f1c9b2;
    padding: 35px 0;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &-link {
        list-style: none;
        font-family: Lato;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        vertical-align: middle;

    }

    &-right {
        display: flex;
        gap: 35px;
        align-items: center;
    }

    &-button {
        background-color: #FF3F3A;
        border: none;
        padding: 20px 40px;
        color: white;
    }

    &-login {
        display: flex;

        a {
            font-family: Lato;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            vertical-align: middle;
            text-decoration: none;
            color: $second-color;
        }
    }
}
@mixin primaryBtn{
    background: red;
    padding: 12px;
    color: white;
    border-radius: 4px;
}

.btn{
    @include primaryBtn;
}

.box-btn{
    @include primaryBtn;
}